/* CSS */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

iconify-icon {
    display: inline-block;
    font-size: 1.1rem;
 }



ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dashboard {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: #60a5fa;
    color: #fff;
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
}

.dashboard-title {
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard-icon {
    font-size: 2rem;
}

.primary-nav ul,
.secondary-nav ul
 {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    gap: 1rem;
}

.primary-nav ul li,
.secondary-nav ul li
 {
    display: flex;
    align-items: center;
    gap: .9rem;
    font-weight: 600;
    font-size: 1.1rem;
}



.header {
    padding-top: 10px;
    background-color: #34d399;
}

.main {
    padding: 1rem;
    background-color: #E2E8F0;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

}

.section-title {
    margin-bottom: .5rem;
}

.projects {
    background-color: #E2E8F0;
}

.projects-cards {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    border-left:7px solid  #F0B429;
}

.card-links {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.main-aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.announcments {
    background-color: #bae6fd;
    
}
.announcments-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:1rem;
}

.annoucment {
    background-color: #fff;
    border-radius: 5px;
}

.trending {
    background-color: #0284c7;
}

.trending-items {
    background-color: #f87171;
}