/* CSS */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


iconify-icon {
    display: inline-block;
    font-size: 1.1rem;
 }

ul {
    list-style: none;
}



.container {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    margin: 0 auto;
    height: 100dvh;
    width: 90%;
    max-width: 1400px;
}

.dashboard {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: #60a5fa;
    color: #fff;
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
}

.dashboard-title {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard-icon {
    font-size: 2rem;
}

.primary-nav ul,
.secondary-nav ul
 {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    gap: 1rem;
}

.primary-nav ul li,
.secondary-nav ul li
 {
    display: flex;
    align-items: center;
    gap: .9rem;
    font-weight: 600;
    font-size: 1.1rem;
}



.header {
    padding: 10px 25px 10px 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)
}



.header-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    
}

.header-input {
    gap: 10px;
}

.site-search {
    width: 70%;
    border: none;
    border-radius: 25px;
    padding: 5px;
    background-color: #E2E8F0;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header-controls {
    display: flex;
    justify-content: space-between;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-btns {
    display: flex;
    gap: 10px;
}

.header-info-name {
    
    font-weight: 800;
}

.header-greeting {
    font-size: .7rem;
    font-weight: 600;
}
.header-name {
    font-size: 1.2rem;
    font-weight: 800;
}

.btn {
    background-color: #3b82f6;
    border: none;
    color: white;
    padding: 10px 25px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    align-self: center;
    }

.main {
    padding: 1rem;
    background-color: #E2E8F0;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

}

.section-title {
    margin-bottom: .5rem;
    
}

.projects {
    background-color: #E2E8F0;
}

.projects-cards {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    
}

.bottom {
    box-shadow: 0 7px 5px -5px #333;
}

.card {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    border-left:7px solid  #F0B429;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.card p {
    color: #9D9D9D;
}

.card-links {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.main-aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}


.annoucments-list {
    display: grid;
    padding: 1.7rem 1.4rem;
    border-radius: 5px;
    gap: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
}

.annoucment > p {
    font-size: .7rem;
    color: #B7B7B7;
}

.annoucment h4 {
    font-size: .8rem;
}

.annoucments-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
}




.trending-list {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.trending-card {
    font-size: .8rem;
    display: flex;
    gap: 1.2rem;
}

.avatar {
    vertical-align: middle;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;
    
  }

  .avatar-info p {
    color: #8D8D8D;
  }

  .avatar-logo {
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }